.load1 {
    display: none;
}

#loadMore {
    padding: 5px 15px 5px 15px;
    text-align: center;
    background-color: transparent;
    color: #fff;
	border: 1px solid #fff;
	border-radius: 15px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
	font-size: 16px;
	text-transform: uppercase;
}
#loadMore:hover {
    border: 1px solid #00C2FF;
	color: #00C2FF;
}
